
<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="mb1"><%= form.text_field :title, autocomplete: "off", placeholder: "Title", class: "radius" %></div>
  </div>

  <div class="field">
    <div class="mb1"><%= form.text_field :release_year, autocomplete: "off", placeholder: "Release Year", class: "radius" %></div>
  </div>

  <div class="field">
    <div class="mb1"><%= form.text_field :price, autocomplete: "off", placeholder: "Price", class: "radius" %></div>
  </div>

  <div class="field">
    <div class="mb1"><%= form.text_field :description, autocomplete: "off", placeholder: "Description", class: "radius" %></div>
  </div>

  <div class="field">
    <div class="mb1"><%= form.text_field :imdb_id, autocomplete: "off", placeholder: "Imdb Id", class: "radius" %></div>
  </div>

  <div class="field">
    <div class="mb1"><%= form.text_field :poster_url, autocomplete: "off", placeholder: "Movie Pposter", class: "radius" %></div>
  </div>

  <div class="actions">
    <%= form.submit%>
  </div>

<% end %>





